*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 100%;
  }

  body {
    font-family: 'Lato', sans-serif;
    height: 100%;
  }

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1750px;
  height: 100vh;
  margin: 0 auto;
}

.navbar {
  display: flex;
  /*justify-content: flex-end;*/
}

.navbar ul {
  display: flex;
  margin: 0;
  padding: 0;
  width: 40%;
  list-style-type: none;
  height: 75px;
  align-items: center;
}

.navbar li {
  /*list-style-type: none;*/
  flex: 1 1 100%;
  /*border: 1px solid green;*/
  text-align: center;
  padding: 20px 0;
}

.navbar img {
  height: 60px;
  width: auto;
  padding: 5px 30px;
  margin-right: 50px;
}

#image {
  flex: 1;
}

.cover {
background: url("../img/background.jpg");
height: 750px;
width: 100%;
background-repeat: no-repeat;
background-size: cover;
/*background-position: center;*/
overflow: auto;
position: absolute;
border: 2px solid purple;

}

.navbar {
color: white;
font-family: sans-serif;
}

/*FORM basic styles STUFF*/

.flex-form > *:not([type="date"]) {
  border-top:1px solid white;
  border-bottom:1px solid white;
}

.flex-form input[type="submit"] {
  background:#FF5A5F;
  border-top: 1px solid #FF5A5F;
  border-bottom: 1px solid #FF5A5F;
  color:white;
}

.flex-form {
  z-index: 10;
  position: relative;
  top: 60%;
}


.flex-form > * {
  border:0;
  padding:10px;
  background:white;
  line-height:50px;
  font-size: 20px;
  border-radius:0;
  outline:0;
  border-right:1px solid rgba(0,0,0,0.2);
  -webkit-appearance:none
}

.flex-form > *:last-child {
  border-right: 0;
}

/*FORM FLEX BOX*/

.parent {
  /*border: 1px solid pink;*/
  display:flex;
  justify-content:center;
  align-items:center;
  flex: 3;
  }


.flex-form {
  display:flex;
  border:20px solid rgba(0,0,0,0.3);
  border-radius:5px;
}


input[type="search"] {
  flex-basis:500px;
}


.welcome {
  margin-top: 100px;
  padding: 20px;
  height: 100%;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center;
  font-family: sans-serif;
}

.welcome h3 {
  color: white;
  font-size: 45px;
  margin: 0 auto;
}

.welcome p {
  color: white;

}

#works {
  padding: 1px 10px;
  background-color: rgba(204, 204, 204, 0.4);
}

/*DIV CONTENT*/

.content {
  border: 1px solid green;
  height: 750px;
  width: 100%;
  color: orange;
  position: relative;
  align-items: center;
}
